<%- include("Header") %>

<h1 style="text-align: center;">Best Courses</h1>
<div class="row"  style="padding: 10%;">
  <div class="col-sm-6">
    <div class="card" >
        <img src="https://img-c.udemycdn.com/course/240x135/1565838_e54e_14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Devlopment</h5>
          <p class="card-text">The Complete 2022 Web Development Bootcamp.</p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" class="btn btn-primary">Buy Now 360$</a>
        </div>
      </div>
</div>
<div class="col-sm-6">
     <div class="card"  >
    <img src="https://img-b.udemycdn.com/course/240x135/1466612_bead_2.jpg?secure=8naFh0oejZra0raRukwugg%3D%3D%2C1637819605" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">Ethereum and Solidity: The Complete Developer's Guide</p>
      <a href="https://www.udemy.com/course/ethereum-and-solidity-the-complete-developers-guide/" class="btn btn-primary">Buy Now 360$</a>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="card"  >
        <img src="https://img-c.udemycdn.com/course/240x135/914296_3670_8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Digital Marketing</h5>
          <p class="card-text">The Complete Digital Marketing Course - 12 Courses in 1</p>
          <a href="https://www.udemy.com/course/learn-digital-marketing-course/" class="btn btn-primary">Buy Now 360$</a>
        </div>
      </div>
</div>

<div class="col-sm-6">
        <div class="card"  >
            <img src="https://img-c.udemycdn.com/course/240x135/2301254_26c8_4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Self Placed Course</h5>
              <p class="card-text">Must Do Coding Questions</p>
              <a href="https://www.udemy.com/course/" class="btn btn-primary">Buy Now 360$</a>
            </div>
          </div>
</div>
<div class="col-sm-6">
          <div class="card"  >
        <img src="https://media.geeksforgeeks.org/img-practice/banner/complete-interview-preparation-course-video-thumbnail-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Placement</h5>
          <p class="card-text">Complete Interview Preparation</p>
          <a href="https://practice.geeksforgeeks.org/courses/complete-interview-preparation?utm_source=practice&utm_medium=featured_list&utm_campaign=PRACTICE_ALL_COURSES_PAGE" class="btn btn-primary">Buy Now 6999$</a>
        </div>
      </div>
</div>
<div class="col-sm-6">
        <div class="card"  >
            <img src="https://media.geeksforgeeks.org/img-practice/banner/html-workshop-thumbnail-old.png?v=1637735613.4833076" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Devlopment</h5>
              <p class="card-text">HTML Workshop</p>
              <a href="https://practice.geeksforgeeks.org/courses/html-workshop?utm_source=practice&utm_medium=course_list&utm_campaign=PRACTICE_ALL_COURSES_PAGE" class="btn btn-primary">Free</a>
            </div>
          </div>
</div>





<div class="col-sm-6">
          <div class="card"  >
                <img src="https://img-c.udemycdn.com/course/240x135/2301254_26c8_4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Digital Marketing</h5>
                  <p class="card-text">Certified Kubernetes Administrator (CKA) with Practice Tests</p>
                  <a href="https://www.udemy.com/course/certified-kubernetes-administrator-with-practice-tests/" class="btn btn-primary">Buy Now 360$</a>
                </div>
              </div>
            </div>
      
            <div class="col-sm-6">
              <div class="card"  >
            <img src="https://img-c.udemycdn.com/course/240x135/1778502_f4b9_12.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Android Development</h5>
              <p class="card-text">iOS & Swift - The Complete iOS App Development Bootcamp</p>
              <a href="https://www.udemy.com/course/ios-13-app-development-bootcamp/" class="btn btn-primary">Buy Now 360$</a>
            </div>
          </div>
            </div>
            
            <div class="col-sm-6">
          <div class="card"  >
                <img src="https://img-c.udemycdn.com/course/240x135/437398_46c3_10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Web Devlopment</h5>
                  <p class="card-text">Build Responsive Real-World Websites with HTML and CSS</p>
                  <a href="https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/" class="btn btn-primary">Buy Now 360$</a>
                </div>
              </div>
            </div>
</div>
<%- include("Footer")-%>
