
<%- include("Header")-%>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1601807576163-587225545555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1584697964358-3e14ca57658b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<h1>Best Courses</h1>
<div class="row" style="padding: 10%;">


  <div class="col-sm-6">
    <div class="card">
        <img src="https://img-c.udemycdn.com/course/240x135/1565838_e54e_14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Devlopment</h5>
          <p class="card-text">The Complete 2022 Web Development Bootcamp.</p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" class="btn btn-primary">Buy Now 360$</a>
        </div>
      </div>
  </div>


<div class="col-sm-6">
      <div class="card" >
        <img src="https://media.geeksforgeeks.org/img-practice/banner/html-workshop-thumbnail-old.png?v=1637735613.4833076" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Devlopment</h5>
          <p class="card-text">HTML Workshop</p>
          <a href="https://practice.geeksforgeeks.org/courses/html-workshop?utm_source=practice&utm_medium=course_list&utm_campaign=PRACTICE_ALL_COURSES_PAGE" class="btn btn-primary">Free</a>
        </div>
      </div>
  </div>



<div class="col-sm-6">
   <div class="card" >
        <img src="https://img-c.udemycdn.com/course/240x135/914296_3670_8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Digital Marketing</h5>
          <p class="card-text">The Complete Digital Marketing Course - 12 Courses in 1</p>
          <a href="https://www.udemy.com/course/learn-digital-marketing-course/" class="btn btn-primary">Buy Now 360$</a>
        </div>
      
  </div>
</div>

<div class="col-sm-6">
  <div class="card"  >
<img src="https://img-c.udemycdn.com/course/240x135/1778502_f4b9_12.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Android Development</h5>
  <p class="card-text">iOS & Swift - The Complete iOS App Development Bootcamp</p>
  <a href="https://www.udemy.com/course/ios-13-app-development-bootcamp/" class="btn btn-primary">Buy Now 360$</a>
</div>
</div>
</div>


</div>  

<%- include("Footer")-%>
