<%- include("Header")-%>
<div class="vishal" style="background-color: aquamarine;">



    <h1 class="h1">Node.js Tutorial</h1>
    <img src="js/nodejs/images/node-js-tutorial.png" alt="Node.js tutorial" class="imageright" />
    <p>Node.js tutorial provides basic and advanced concepts of Node.js. Our Node.js tutorial is designed for beginners and professionals both.</p>
    <p>Node.js is a cross-platform environment and library for running JavaScript applications which is used to create networking and server-side applications. </p>
    <p>Our Node.js tutorial includes all topics of Node.js such as Node.js installation on windows and linux, REPL, package manager, callbacks, event loop, os, path, query string, cryptography, debugger, URL, DNS, Net, UDP, process, child processes, buffers, streams, file systems, global objects, web modules etc. There are also given Node.js interview questions to help you better understand the Node.js technology.</p>
    <h2 class="h2">What is Node.js</h2>
    <p>Node.js is a cross-platform runtime environment and library for running JavaScript applications outside the browser. It is used for creating server-side and networking web applications. It is open source and free to use. It can be downloaded from this link <a href="https://nodejs.org/en/" target="_blank" rel="nofollow">https://nodejs.org/en/</a> </p>
    <p>Many of the basic modules of Node.js are written in JavaScript. Node.js is mostly used to run real-time server applications. </p>
    <p>The definition given by its official documentation is as follows:</p>
    <p>?Node.js is a platform built on Chrome's JavaScript runtime for easily building fast and scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.?</p>
    <p>Node.js also provides a rich library of various JavaScript modules to simplify the development of web applications.</p>
    <div class="codeblock"><textarea name="code" class="xml">
    Node.js = Runtime Environment + JavaScript Library
    </textarea></div>
    <p><strong>Different parts of Node.js</strong></p>
    <p>The following diagram specifies some important parts of Node.js:</p>
    <img src="js/nodejs/images/what-is-nodejs.png" alt="what is nodejs" />
    <h2 class="h2">Features of Node.js</h2>
    <p>Following is a list of some important features of Node.js that makes it the first choice of software architects.</p>
    <ol class="points">
    <li><strong>Extremely fast: </strong>Node.js is built on Google Chrome's V8 JavaScript Engine, so its library is very fast in code execution. </li>
    <li><strong>I/O is Asynchronous and Event Driven: </strong>All APIs of Node.js library are asynchronous i.e. non-blocking. So a Node.js based server never waits for an API to return data. The server moves to the next API after calling it and a notification mechanism of Events of Node.js helps the server to get a response from the previous API call. It is also a reason that it is very fast.</li>
    <li><strong>Single threaded: </strong>Node.js follows a single threaded model with event looping. </li>
    <li><strong>Highly Scalable: </strong>Node.js is highly scalable because event mechanism helps the server to respond in a non-blocking way. </li>
    <li><strong>No buffering: </strong>Node.js cuts down the overall processing time while uploading audio and video files. Node.js applications never buffer any data. These applications simply output the data in chunks.</li>
    <li><strong>Open source: </strong>Node.js has an open source community which has produced many excellent modules to add additional capabilities to Node.js applications. </li>
    <li><strong>License: </strong>Node.js is released under the MIT license.</li>
    </ol>
    <hr />
    <h2 class="h2 center textshadow">Node.js Index</h2>
    <hr />
    <div class="responsivediv">
    <div class="col-2">
    <p><strong>Node.js Tutorial</strong></p>
    <ul class="points">
    <li><a href="nodejs-tutorial">Node.js Tutorial</a></li>
    <li><a href="install-nodejs">Install Node.js Windows</a></li>
    <li><a href="install-nodejs-on-linux-ubuntu-centos">Install Node.js Linux</a></li>
    <li><a href="nodejs-first-example">Node.js First Example</a></li>
    <li><a href="nodejs-console">Node.js Console</a></li>
    <li><a href="nodejs-repl">Node.js REPL</a></li>
    <li><a href="nodejs-package-manager">Node.js NPM</a></li>
    <li><a href="nodejs-command-line-options">Node.js CL Options</a></li>
    <li><a href="nodejs-global-objects">Node.js Globals</a></li>
    <li><a href="nodejs-os">Node.js OS</a></li>
    <li><a href="nodejs-timer">Node.js Timer</a></li>
    <li><a href="nodejs-errors">Node.js Errors</a></li>
    <li><a href="nodejs-dns">Node.js DNS</a></li>
    <li><a href="nodejs-net">Node.js Net</a></li>
    <li><a href="nodejs-crypto">Node.js Crypto</a></li>
    <li><a href="nodejs-tls-ssl">Node.js TLS/SSL</a></li>
    <li><a href="nodejs-debugger">Node.js Debugger</a></li>
    <li><a href="nodejs-process">Node.js Process</a></li>
    <li><a href="nodejs-child-process">Node.js Child Process</a></li>
    <li><a href="nodejs-buffers">Node.js Buffers</a></li>
    <li><a href="nodejs-streams">Node.js Streams</a></li>
    <li><a href="nodejs-file-system">Node.js File System</a></li>
    <li><a href="nodejs-path">Node.js Path</a></li>
    <li><a href="nodejs-stringdecoder">Node.js StringDecoder</a></li>
    <li><a href="nodejs-query-string">Node.js Query String</a></li>
    <li><a href="nodejs-zlib">Node.js ZLIB</a></li>
    <li><a href="nodejs-assertion-testing">Node.js Assertion</a></li>
    <li><a href="nodejs-v8">Node.js V8</a></li>
    <li><a href="nodejs-callbacks">Node.js Callbacks</a></li>
    <li><a href="nodejs-events">Node.js Events</a></li>
    <li><a href="nodejs-punycode">Node.js Punycode</a></li>
    <li><a href="nodejs-tty">Node.js TTY</a></li>
    <li><a href="nodejs-web-modules">Node.js Web Modules</a></li>
    </ul>
    <p><strong>Node.js MySQL</strong></p>
    <ul class="points">
    <li><a href="nodejs-mysql-create-connection">MySQL Create Connection</a></li>
    <li><a href="nodejs-mysql-create-database">MySQL Create Database</a></li>
    <li><a href="nodejs-mysql-create-table">MySQL Create Table</a></li>
    <li><a href="nodejs-mysql-insert-record">MySQL Insert Record</a></li>
    <li><a href="nodejs-mysql-delete-record">MySQL Delete Record</a></li>
    <li><a href="nodejs-mysql-select-record">MySQL Select Record</a></li>
    <li><a href="nodejs-mysql-select-unique-record">MySQL Select Unique</a></li>
    <li><a href="nodejs-mysql-drop-table">MySQL Drop Table</a></li>
    </ul>
    </div>
    <div class="col-2">
    <p><strong>Node.js MongoDB</strong></p>
    <ul class="points">
    <li><a href="nodejs-mongodb-create-connection">Create Connection</a></li>
    <li><a href="nodejs-mongodb-create-database">Create Database</a></li>
    <li><a href="nodejs-mongodb-create-collection">Create Collection</a></li>
    <li><a href="nodejs-mongodb-insert">MongoDB Insert</a></li>
    <li><a href="nodejs-mongodb-select">MongoDB Select</a></li>
    <li><a href="nodejs-mongodb-query">MongoDB Query</a></li>
    <li><a href="nodejs-mongodb-sorting">MongoDB Sorting</a></li>
    <li><a href="nodejs-mongodb-remove">MongoDB Remove</a></li>
    </ul>
    <p><strong>Difference</strong></p>
    <ul class="points">
    <li><a href="nodejs-vs-angularjs">Node.js vs AngularJS</a></li>
    <li><a href="nodejs-vs-python">Node.js vs Python</a></li>
    <li><a href="nodejs-vs-php">Node.js vs PHP</a></li>
    <li><a href="nodejs-vs-java">Node.js vs Java</a></li>
    </ul>
    <p><strong>Node.js Express</strong></p>
    <ul class="points">
    <li><a href="expressjs-tutorial">Express.js Tutorial</a></li>
    <li><a href="what-is-expressjs">What is Express.js</a></li>
    <li><a href="install-expressjs">Install Express.js</a></li>
    <li><a href="expressjs-request">Express.js Request</a></li>
    <li><a href="expressjs-response">Express.js Response</a></li>
    <li><a href="expressjs-get">Express.js Get</a></li>
    <li><a href="expressjs-post">Express.js Post</a></li>
    <li><a href="expressjs-routing">Express.js Routing</a></li>
    <li><a href="expressjs-cookies">Express.js Cookies</a></li>
    <li><a href="expressjs-file-upload">Express.js File Upload</a></li>
    <li><a href="expressjs-middleware">Express.js Middleware</a></li>
    <li><a href="expressjs-scaffolding">Express.js Scaffolding</a></li>
    <li><a href="expressjs-template">Express.js Template</a></li>
    </ul>
    <p><strong>Interview Questions</strong></p>
    <ul class="points">
    <li><a href="node-js-interview-questions"><span>Node.js Interview</span></a></li>
    <li><a href="angularjs-interview-questions"><span>AngularJS Interview</span></a></li>
    <li><a href="javascript-interview-questions"><span>JavaScript Interview</span></a></li>
    <li><a href="jquery-interview-questions"><span>jQuery Interview</span></a></li>
    <li><a href="backbone-js-interview-questions"><span>Backbone.js Interview</span></a></li>
    <li><a href="ember-js-interview-questions"><span>Ember.js Interview</span></a></li>
    <li><a href="neo4j-interview-questions"><span>Neo4j Interview</span></a></li>
    </ul>
    </div>
    </div>
    <hr />
    <h2 class="h2">Prerequisite</h2>
    <p>Before learning Node.js, you must have the basic knowledge of JavaScript and any programming language.</p>
    <h2 class="h2">Audience</h2>
    <p>Our Node.js tutorial is designed to help beginners and professionals.</p>
    <h2 class="h2">Problem</h2>
    <p>We assure that you will not find any problem in this Node.js tutorial. But if there is any mistake, please post the problem in contact form.</p>
    <div class="nexttopicdiv">
    <span class="nexttopictext">Next Topic</span><span class="nexttopiclink"><a href="install-nodejs">How to Install Node.js</a></span>
    </div>
    
    <br /><br />
    <div id="bottomnext">
    <a style="float:right" class="next" href="install-nodejs">next &rarr;</a>
    </div>
    <br /><br />
    </td></tr>
    </table>
    </div>



    
</div>
<%- include("Footer")-%>