<%- include("Header")-%>
<h1 style="text-align: center;">Best Courses</h1>
<div class="row"  style="padding: 10%;">
  <div class="col-sm-6">
    <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <p class="card-text">Object Oriented  Programming</p>
          <a href="/oops" class="btn btn-primary">OOPS</a>
        </div>
      </div>
</div>
<div class="col-sm-6">
     <div class="card"  >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Notes</h5>
      <p class="card-text">C++</p>
      <a href="/cpp" class="btn btn-primary">c++</a>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="card"  >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <p class="card-text">MONGODB</p>
          <a href="/mongodb" class="btn btn-primary">Mongodb</a>
        </div>
      </div>
</div>

<div class="col-sm-6">
        <div class="card"  >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Notes</h5>
              <p class="card-text">NODDEJS</p>
              <a href="/nodejs" class="btn btn-primary">Nodejs</a>
            </div>
          </div>
</div>
<div class="col-sm-6">
          <div class="card"  >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <p class="card-text">ORACLE</p>
          <a href="/oracle" class="btn btn-primary">Oracle</a>
        </div>
      </div>
</div>
<div class="col-sm-6">
        <div class="card"  >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Notes</h5>
              <p class="card-text">POSTGRE</p>
              <a href="/postgre" class="btn btn-primary">Postgre</a>
            </div>
          </div>
</div>





<div class="col-sm-6">
          <div class="card"  >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhri8byS5bZc7SU830nfoJQFLk23uuy79fGQ&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Notes</h5>
                  <p class="card-text">SQL</p>
                  <a href="/sql" class="btn btn-primary">SQL</a>
                </div>
              </div>
            </div>
</div>

<%- include("Footer")-%>