<%- include("Header")-%>
<section class="vh-100" style="padding-top: 20px;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          
          
          <form action="/register" method="post">
            <input type="text" name="usern" class="form-control form-control-lg"
            placeholder="Enter a username" />

              <input type="email" name="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <input type="text" name="pass" class="form-control form-control-lg"
                placeholder="Enter password"/>
         
  
  
              <button class="btn btn-primary btn-lg">Login</button>
  
  
  
              </form>  
  
  
  
  
  
  
  
  
  
  
                <div class="text-center text-lg-start mt-4 pt-2">
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                  class="link-danger">Register</a></p>
            </div>  

        </div>
      </div>
    </div>
  </section>
  <%- include("Footer")-%>
